body {
  font-family: 'Myriad Pro', sans-serif;
  background: url('../img/bg.jpg') no-repeat top center;
}
.container {
  height: 600px;
  width: 610px;
}
.tab-content {
  height: 400px;
  width: 580px;
  border: 25px solid #03a5da;
  background: #000000;
  padding: 70px 40px;
}
.form-control {
  width: 450px;
  height: 60px;
  background-color: #1b1a1a;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 24px;
}
.forgot-txt {
  color: #8d1302;
  font-size: 15px;
  font-weight: 600;
  padding-left: 14px;
}
a:hover {
  text-decoration: none;
}
label {
  padding: 20px;
  margin-left: -66px;
  color: #6f6d6d;
}
.enter {
  position: absolute;
  width: 130px;
  height: 40px;
  background: #fff;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  line-height: 40px;
  background: radial-gradient(#e02504, #7f0501);
  border: none;
  margin-top: -30px;
  margin-left: 400px;
  box-shadow: 0 0 10px #000000;
  outline: none;
}
.enter::after {
  content: '';
  position: absolute;
  left: 45px;
  border: 7px solid transparent;
  border-left: 7px solid #7f0501;
  border-top: 7px solid #7f0501;
  margin-left: 70px;
  margin-top: 39px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #fff;
  background-color: #03a5da;
  border: 1px solid #03a5da;
}
ul {
  font-size: 24px;
}
